.login {
    margin: 50px auto;
    width: 50%;
    text-align: center;
    background-color: lightblue;
    box-shadow: 2px 2px 1px gray;   
}

.login input {
    display: block;
    margin: 0 auto;
}

.login a {
    display: block;
    color: white;
}

.login button:hover {
    color: grey;
    background-color: ghostwhite;
    cursor: pointer;
}

.form-control {
    width: 60%;
}